{% extends "base.html.twig" %}

{% block title %}Edit User{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% if errors is not empty %}
        <div class="alert alert-danger">{{ errors }}</div>
    {% endif %}
    {% if no_user %}
        <a href="users.php" class="btn btn-block btn-primary"><i class="fas fa-arrow-left"></i> Go back</a>
    {% endif %}
    {% if no_data %}
        Error: There was an error whilst attempting to retrieve data for the selected user. Please return to the user list and try again.
        <a href="users.php" class="btn btn-block btn-primary"><i class="fas fa-arrow-left"></i> Go back</a>
    {% endif %}
    {% if form_success is not empty %}
        <div class="alert alert-success">{{ form_success }}
            <ul>
                {% for value in form_success_list %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
            Please refresh this page for the changes to appear.
        </div>
    {% endif %}
    {% if errors is empty %}
    <div class="row">
        <form id="email_form" method="POST">
            <div class="input-group mb-3 row">
                <label for="uname" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="uname" value="{{ user }}" readonly>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label for="datecreated" class="col-sm-2 col-form-label">Date Created:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="datecreated" value="{{ create_date }}" readonly disabled>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label for="datechanged" class="col-sm-2 col-form-label">Password last changed:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="datechanged" value="{{ pw_change_date }}" readonly disabled>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label for="data_types" class="col-sm-2 col-form-label">User Role: </label>
                <div class="col-sm-10">
                    <select class="form-select" id="role-select" name="role-select" style="width: 20em;">
                        {% for sub_array in user_roles %}
                            {% if sub_array.ID == user_role %}
                                <option value="{{ sub_array.ID }}" selected>{{ sub_array.Name }}</option>
                            {% else %}
                                <option value="{{ sub_array.ID }}">{{ sub_array.Name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-email">Email Address:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-email" name="inp-email" type="email" value="{{ user_email }}">
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-cpassword">New Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-npassword" name="inp-npassword" type="password" value="">
                </div>
            </div>
            <div class="input-group mb-3 row">
                <label class="col-sm-2 col-form-label" for="inp-cnpassword">Confirm Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inp-cnpassword" name="inp-cnpassword" type="password" value="">
                </div>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save Changes</button>
            </div>
        </form>
        <hr />
        <div class="float-right">
            <a href="users.php" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Go back</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}


{% endblock %}